*{
    margin:0;
    padding:0;
}
.images{
    overflow:hidden;
    text-align:center;
}
.images img{
    width:300px;
    height: 200px;
    margin:15px;
    cursor:pointer;
    transition:.2s;
}
.images img:hover{
    opacity:.8;
}
.pre{
    width:900px;
    height: 520px;
    margin:auto;
    position: relative;
    overflow:hidden;
}
.pre img{
    width:100%;
    height: 100%;
}
.pre a{
    color:#fff;
    font-size:20px;
    position: absolute;
    top:0;
    right:0;
    padding:10px;
    cursor: pointer;
}